# Loan default prediction using logistic regression

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load data

In [14]:
loan_data_frame = pd.read_csv("data.csv") # pandas.DataFrame

### Count of rows

In [17]:
len(loan_data_frame)

50000

### Example of training data

In [18]:
loan_data_frame[["amount", "employment", "status"]].head(5)

    amount          employment       status
0   8000.0       Warehouseman   Charged Off
1  11000.0      Vice President   Fully Paid
2  35000.0      Owner/Attorney      Current
3  20000.0             Analyst   Fully Paid
4  12000.0  medical technician      Current

### Columns and their description
amount - loan amount\
employment - job title of applicant\
status - loan status